{%extends "base.html"%}
{%block title%}
<title>下载信息显示</title>
{%endblock%}
{%block body%}
<ul>
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>下载</th>
			<th>文件名</th>
			<th>分析人</th>
			<th>相关项目</th>
			<th>分析时间</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			{% for data_n in all_data %}
				<td>
					<form action="/data_record/download/"  method="post">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary" value={{data_n.id}}>下载</button>
						<input type=hidden name=idN value={{data_n.id}}>
						<input type="submit" value="下载">
					</form>
				</td>
				<td>{{data_n.folder}}</td>
				<td>{{data_n.person}}</td>
				<td>{{data_n.serialnum}}</td>
				<td>{{data_n.pubDate}}</td>
			{% endfor %}
		</tr>
		</tbody>
</table>
</div>
    <a href="{% url 'data_record:AnalysisResult'%}">下载报告</a>
</ul>
{%endblock%}
