{%extends "base.html"%}
{%block title%}
<title>下载信息显示</title>
{%endblock%}
{%block body%}
<ul>
{% for data_n in all_data %}
<li>
	<form action="/data_record/download/"  method="post">
		{% csrf_token %}
		<input type=hidden name=idN value={{data_n.id}}>
		<input type="submit" value="下载">
	</form>
    <ul>文件夹名称:{{data_n.folder}}</ul>
    <span>分析人:{{data_n.person}}</span>
    <span>相关项目:{{data_n.serialnum}}</span>
    <p>分析时间:{{data_n.pubDate}}</p>
{% endfor %}
</li>
    <a href="{% url 'data_record:AnalysisResult'%}">下载报告</a>
</ul>
{%endblock%}
