{% extends "base.html" %}
{% block title %}
<title>upload a file</title>
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h3>注意：假如是一个新的对比分析的项目号，需要负责人先添加项目号，才可以选择</h3>
		<form action="/data_record/upload/" method="post" enctype="multipart/form-data">
			<div>
				{% csrf_token %}
				<input type="file" name = "myfile">
			</div>
			项目名称：
			<label class="label-info">
				<select name="serial_name">
					{% for serial_n in serialnum_all %}
						<option value={{serial_n.name}}>{{serial_n.name}}</option>
					{% endfor %}
				</select>
			</label>
		</form>
		<dl>
		<dt>目前支持以下常用字符(不分大小写)</dt>
		<dd>Fab(VL+VH)</dd>
		<dd>Fab:T7+T2A</dd>
		<dd>Fab:Pfab+T2A</dd>
		<dd>Fab:YD+CH1</dd>
		<dd>Fab:P2a_R+P2a+F</dd>
		<dd>Fab:3X_F+3X_R</dd>
		<dd>ScFv:ScFv</dd>
		</dl>
		<form class="info-block">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text">scfv</span>
				</div>
				<input type="text" class="form-control" placeholder="可不填" name ="scfv_char">
				<div class="input-group-prepend">
					<span class="input-group-text">Fab_H</span>
				</div>
				<input type="text" class="form-control" placeholder="可不填" name = "fab_h">
				<div class="input-group-append">
					<span class="input-group-text">Fab_L</span>
				</div>
				<input type="text" class="form-control" placeholder="可不填" id="mail" name="email">
			</div>
			<button type="submit" class="btn btn-primary" value="保存">Submit</button>
		</form>
	</div>

{% endblock %}

